@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&family=Poppins:ital,wght@0,400;1,300&family=Raleway&display=swap');
:root{
    --colordark: rgb(7, 94, 0);
    --colorlight: rgb(184, 254, 184);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

nav{
    background-color: rgb(184, 254, 184);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
#check{
    display: none;
}
.menu{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 40pxpx;
    width: 40px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.icons{
    display: flex;
    align-items: center;
}
.icons span{
    cursor: pointer;
    padding: 5px;
}

/* BANNER */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}
.bannerText{
    flex: 1;
}
.bannerText h1{
    font-size: 1.5rem;
}
.bannerText p{
    /* text-align: justify; */
    /* font-size: 0.9rem; */
    padding: 10px 0;
}
.bannerText a{
    text-decoration: none;
    background-color: var(--colorlight);
    padding: 5px 10px;
    display: inline-block;
    color: var(--colordark);
    border: 2px solid var(--colordark);
    border-radius: 8px;
    transition: all 0.5s;
    text-transform: uppercase;
}
.bannerText a:hover{
    background-color: var(--colordark);
    color: var(--colorlight);
    border: 2px solid var(--colorlight);
}
.bannerImg{
    flex: 1;
}
.bannerImg img{
    width: 100%;
}

/* FEATURED */
.featured{
    padding: 40px 60px;
}
.featured h1{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 5vh;
}
.cards{
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 0.8rem;
}
.card{
    /* width: 200px; */
    border: 3px solid var(--colordark);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.cardImg img{
    width: 100px;
}
.card h3{
    color: var(--colordark);
}
.card p{
    padding: 5px 0;
}
.card a{
    text-decoration: none;
    background-color: var(--colorlight);
    padding: 5px 10px;
    display: inline-block;
    color: rgb(7, 94, 0);
    border: 2px solid var(--colordark);
    border-radius: 8px;
    transition: all 0.5s;
    text-transform: uppercase;
}
.card a:hover{
    background-color: var(--colordark);
    color: var(--colorlight);
    border: 2px solid var(--colorlight);
}

@media only screen and (max-width: 500px){
    html{
        font-size: 16px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    nav ul{
        position: fixed;
        top: 55px;
        width: 100%;
        height: 100vh;
        background-color: var(--colordark);
        left: -100%;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
    }
    nav ul li a{
        color: var(--colorlight);
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner{
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width: 500px) and (max-width: 850px){
    html{
        font-size: 17px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 850px) and (max-width: 1250px){
    html{
        font-size: 20px;
    }
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 1250px){
    html{
        font-size: 20px;
    }
    .cards{
        grid-template-columns: repeat(5, 1fr);
    }
}